<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.rong.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 修改/删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true">

        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="io.rong.app"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="io.rong.app"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>


        <!--<activity-->
        <!--android:name="io.rong.voipkit.activity.CallSideActivity"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data-->
        <!--android:host="io.rong.app"-->
        <!--android:pathPrefix="/VoIPCall"-->
        <!--android:scheme="rong" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:screenOrientation="portrait"-->
        <!--android:name="io.rong.voipkit.activity.CalledSideActivity"-->
        <!--android:excludeFromRecents="true">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data-->
        <!--android:host="io.rong.app"-->
        <!--android:pathPrefix="/VoIPAccept"-->
        <!--android:scheme="rong" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>