<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongban.im">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Rainbow.Base.Translucent">

        <!-- **********************************begin rongcloud ********************************** -->

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" />
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver">
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />

        <!-- 测试环境 3argexb6r9wse -->
        <!-- 正式环境 ik1qhw091e3yp -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="ik1qhw091e3yp" />
        <!-- **********************************end rongcloud ********************************** -->


        <!-- 微信授权登录回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ********************************* app  start ************************************** -->


        <!-- ******************************** common activity ***************************** -->

        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Rainbow.Base">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 启动界面 -->
        <activity
            android:name=".activity.LoadingActivity"
            android:theme="@style/AppTheme.Rainbow.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 剪切图片 -->
        <activity android:name=".activity.ClipImageBorderViewActivity" />
        <!-- 图片查看 -->
        <activity
            android:name=".activity.PhotoViewPagerActivity"
            android:label="@string/image_display" />
        <!-- 个人设置 -->
        <activity android:name=".activity.SettingActivity" />
        <!-- 关于我们 -->
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.PhotoAlbumActivity" />

        <!-- ******************************** account activity ***************************** -->


        <!-- 登录 -->
        <activity
            android:name=".activity.account.LoginActivity"
            android:label="@string/login"
            android:theme="@style/AppTheme.Rainbow.Base"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/login"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 注册 -->
        <activity
            android:name=".activity.account.RegisterActivity"
            android:label="@string/register"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/register"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 第三方注册-绑定手机号 -->
        <activity
            android:name=".activity.account.OtherRegisterActivity"
            android:label="@string/register"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/other_register"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 找回密码 -->
        <activity
            android:name=".activity.account.FindPwdActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- ******************************** user activity ***************************** -->


        <!-- 个人资料 -->
        <activity android:name=".activity.user.MyInfoActivity" />
        <!-- 关注&粉丝 -->
        <activity android:name=".activity.user.MyRelationshipActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/relationship"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 我的收藏 -->
        <activity android:name=".activity.user.MyCollectActivity" />
        <!-- 我的话题 -->
        <activity
            android:name=".activity.user.MyTopicActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 我的圈子 -->
        <activity android:name=".activity.user.MyGroupActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/my_group_list"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 个人中心 -->
        <activity
            android:name=".activity.user.MyCardActivity"
            android:label="@string/user_center">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/my_center"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 他人中心 -->
        <activity android:name=".activity.user.UserCardActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/user_center"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 宝宝信息填写 -->
        <activity
            android:name=".activity.user.ChildInfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 修改个人资料 -->
        <activity android:name=".activity.user.UpdatePersonalInfoActivity" />

        <!-- ******************************** group activity ***************************** -->

        <!-- 聊天 -->
        <activity
            android:name=".activity.group.ChatActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 圈子详情 -->
        <activity
            android:name=".activity.group.GroupInfoActivity"
            android:label="@string/group_settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/group_info"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 圈子搜索 -->
        <activity
            android:name=".activity.group.CreateGroupActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.group.SearchGroupActivity"
            android:label="@string/search_group"
            android:theme="@style/AppTheme.Rainbow.Base.WindowBG">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/search_group"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 选择圈子类型 -->
        <activity
            android:name=".activity.group.ChooseGroupTypeActivity"
            android:label="@string/choice_group_type" />
        <!-- 圈子标签选择 -->
        <activity
            android:name=".activity.group.GroupTipsListActivity"
            android:label="@string/group_label" />
        <!-- 位置选择 -->
        <activity
            android:name=".activity.group.SearchPoiActivity"
            android:label="@string/select_location" />

        <!-- ******************************** topic activity ***************************** -->
        <!-- 话题详情 -->
        <activity
            android:name=".activity.topic.TopicDetailsActivity"
            android:label="@string/topic"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/topic_details"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 创建话题 -->
        <activity
            android:name=".activity.topic.CreateTopicActivity"
            android:label="@string/create_topic"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 官方话题评测 -->
        <activity
            android:name=".activity.topic.OfficialTopicDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/topic_official"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 搜索话题 -->
        <activity
            android:name=".activity.topic.SearchTopicActivity"
            android:label="@string/topic_search">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/search_topic"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>

        <!-- ******************************** discover activity ***************************** -->
        <!-- 搜索专题 -->
        <activity
            android:name=".activity.discover.SearchDiscoverActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 专题搜索结果 -->
        <activity
            android:name=".activity.discover.SearchResultActivity"
            android:label="@string/search"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/theme_search_result"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 专题 -->
        <activity android:name=".activity.discover.ThemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/theme_details"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>
        <!-- 图书单品 -->
        <activity android:name=".activity.discover.ProductBookActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tongban.im"
                    android:pathPrefix="/product_book"
                    android:scheme="tongban" />
            </intent-filter>
        </activity>

        <!-- ******************************** app end ******************************* -->

    </application>

</manifest>
